@import 'src/styles/variables';

.header-container {
    height: 9vh;
    background-color: $bg-color-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5vw;
}

.nav-container {
    display: flex;
    align-items: center
}

.logo {
    img {
        height: 50px;
        width: auto;
        margin-right: 10px;
    }
}
