.book-details {
    display: flex;
    flex-direction: row;

    &-image {
        margin-right: 24px;

        img {
            max-width: 220px;
            height: auto;
            display: block;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1;

        .book-details-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        .book-details-author,
        .book-details-publisher,
        .book-details-publication-year,
        .book-details-page-count,
        .book-details-count,
        .book-details-price {
            margin-bottom: 8px;

            span {
                font-weight: bold;
                margin-right: 8px;
            }
        }
    }
}
