<div *ngIf="book">
    <div class="book-details">
        <div class="book-details-image">
            <img src="{{book.photoUrl}}" alt="{{book.title}}"/>
        </div>
        <div class="book-details-info">
            <div>
                <div class="book-detail-title">{{book.title}}</div>
                <div class="book-detail">
                    <span>Author:</span>
                    <a [routerLink]="['/author', book.author.id]">{{book.author.firstName}} {{book.author.lastName}}</a>
                </div>
                <div class="book-detail">
                    <span>Publisher:</span>
                    <a [routerLink]="['/publisher', book.publisher.id]">{{book.publisher.name}}</a>
                </div>
                <div class="book-detail">
                    <span>Publication year:</span>{{book.publicationYear}}
                </div>
                <div class="book-detail">
                    <span>Page Count:</span>{{book.pageCount}}
                </div>
                <div class="book-detail">
                    <span>Available count:</span>{{book.availableCount}}
                </div>
                <div class="book-detail book-detail-price">
                    <span>Price:</span>
                    <span nz-typography nzType="danger">${{book.price}}<span
                        nz-typography nzType="secondary"
                        class="book-details-price-info">/per day</span>
                </span>
                </div>
            </div>
            <button nz-button nzType="primary"
                    [disabled]="book.availableCount===0"
            (click)="checkOut()">Checkout the book</button>
        </div>
    </div>
</div>
<div *ngIf="showNoData">
    <app-no-data/>
</div>
