<div class="dropdown-menu" nz-dropdown [nzDropdownMenu]="menu">
    <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
    <span class="ico_down" nz-icon nzType="down"></span>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <ng-container *ngIf="!authService.isLoggedIn()">
            <li nz-menu-item (click)="navigateTo('/login')">
                Login
            </li>
            <li nz-menu-item (click)="navigateTo('/register')">Register</li>
        </ng-container>
        <ng-container *ngIf="authService.isUserHasRoles([ROLE.USER]) && !authService.isUserHasRoles([ROLE.READER])">
            <li nz-menu-item [nzSelected]="router.url === '/form-reader-ticket'"
                (click)="navigateTo('/form-reader-ticket')">
                Get reader ticket
            </li>
        </ng-container>
        <ng-container *ngIf="authService.isUserHasRoles([ROLE.READER])">
            <li nz-menu-item [nzSelected]="router.url === '/my-books'"
                (click)="navigateTo('/my-books')">
                My books
            </li>
        </ng-container>
        <ng-container *ngIf="authService.isUserHasRoles([ROLE.ADMIN])">
            <li nz-submenu nzTitle="Books">
                <ul>
                    <li nz-menu-item [nzSelected]="router.url === '/admin/add-book'"
                        (click)="navigateTo('/admin/add-book')">
                        Add a book
                    </li>
                </ul>
            </li>
        </ng-container>
        <ng-container *ngIf="authService.isLoggedIn()">
            <li nz-menu-item nzDanger (click)="authService.logout()">
                Logout
            </li>
        </ng-container>
    </ul>
</nz-dropdown-menu>
